<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example45-production</title>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>



</head>
<body ng-app="box">
<div ng-controller="boxCtrl">
    <div style="width:100px; height: 100px; background: red;" ng-click="click()"></div>
    <p>{{ w }} * {{ h }}</p>
    <p>w:<input type="text" ng-model="w"> </p>
    <p>h:<input type="text" ng-model="h"> </p>
</div>

<script>
    angular.module('box',[])
            .controller('boxCtrl',function($scope)
            {
                $scope.click = function()
                {

                }
            })

    /*angular.module('copyExample', [])
            .controller('ExampleController', ['$scope', function($scope) {
                $scope.master= {};

                $scope.update = function(user) {
                    // Example with 1 argument
                    $scope.master= angular.copy(user);
                };

                $scope.reset = function() {
                    // Example with 2 arguments
                    angular.copy($scope.master, $scope.user);
                };

                $scope.reset();
            }]);*/
</script>
</body>
</html>