<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <style>
        .red{ background-color:red;}
    </style>
    <script>
        angular.module('myApp',[])
                .controller('mainController',function($scope){

                })
                .directive('myDirective',function(){
                    return{
                        restrict:'A',
                        scope:{
                            ngModel:'=',   //将ngModel同指定对象绑定
                            onSend:'&',   //将引用传递给这个方法
                            formName:'@'  //储存与formName相关联的字符串
                        },   //scope设置为{}无法访问外部作用域
                        priority:100,
                        template:'<div>Inside myDirective{{myProperty}}</div>'
                    }
                })
    </script>
</head>
<body>
<input type="text" ng-model="to"/>
<!--调用指令-->
<div my-directive scope-example ng-model="to" on-send="sendMail(email)" form-name="ari@fullstack.io"></div>

</body>
</html>