<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script>
        //var app = angular.module('myApp',[]);
        angular.module('myApp',[])
                .controller('SomeController',function($scope)
                {
                    //最佳实践，永远只使用一个模式
                    $scope.someModule={
                        someBareValue: 'hello computer'
                    }
                    //设置$scope本身的操作，这样没问题
                    $scope.someAction = function(){
                        // 在SomeController和ChildController中设置{{ someBareValue }}
                        $scope.someModule.someBareValue = 'hello human,form parent';
                    }
                })
    </script>
</head>
<body>
<label>someProperty = {{someProperty}}</label>
<input type="checkbox" ng-checked="someProperty" ng-init="someProperty = true" ng-model="someProperty"/>


<label>Select Two Fish:</label>
<input type="checkbox"
       ng-model="isTwoFish"><br/>
<select>
    <option>One Fish</option>
    <option ng-selected="isTwoFish">Two Fish</option>
</select>

</body>
</html>