<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <style>
        .red{ background-color:red;}
    </style>
    <script>
        angular.module('myApp',[])
                .controller('LotteryController',function($scope) {
                    $scope.generateNumber = function(){
                        return Math.floor((Math.random()*10)+1);
                    }
                });
    </script>
</head>
<body>
<div ng-controller="LotteryController">
    <div ng-class="{red: x> 5}" ng-if="x > 5"> You won!</div>
    <button ng-click="x = generateNumber()" ng-init="x = 0">draw number</button>
    <p>Number is: {{x}}</p>
</div>

</body>
</html>