<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script>
        //var app = angular.module('myApp',[]);
        angular.module('myApp',[])
                .controller('SomeController',function($scope)
                {
                    //反模式，裸值
                    $scope.someBareValue = 'hello computer';
                    //设置$scope本身的操作，这样没问题
                    $scope.someAction = function(){
                        // 在SomeController和ChildController中设置{{ someBareValue }}
                        $scope.someBareValue = 'hello human,form parent';
                    }
                })
                .controller('childController',function($scope)
                {
                    $scope.childAction = function(){
                        // 在ChildController中设置{{ someBareValue }}
                        $scope.someBareValue = 'hello human, form child';
                    }
                })
    </script>
</head>
<body>
<div ng-controller="SomeController">
    {{someBareValue}}
    <button ng-click="someAction()" type="submit" value="点击">传送到子</button>
    <div ng-controller="childController">
        {{someBareValue}}
        <button ng-click="childAction()" type="submit" value="点击">传送到父</button>
    </div>
</div>

</body>
</html>