<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vueJs</title>

</head>
<body>

<div id="todo-list-example">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add a todo</label>
        <input
            v-model="newTodoText"
            id="new-todo"
            placeholder="input a todo"
        />
        <button>Add</button>
    </form>
    <ul>
        <li
            is="todo-item"
            v-for="(todo,index) in todos"
            v-bind:key="todo.id"
            v-bind:title="todo.title"
            @remove="todos.splice(index,1)"
        >
        </li>
    </ul>
</div>

<script src="js/vue.js"></script>
<script>
    Vue.component('todo-item',{
        template:'\
        <li>\
            {{title}}\
            <button v-on:click="$emit(\'remove\')">Remove</button>\
            </li>\
        ',
        props:['title']
    });
    new Vue({
        el: '#todo-list-example',
        data: {
            newTodoText: '',
            todos:[
                {
                    id:1,
                    title:'Do 1'
                },
                {
                    id:2,
                    title:'Do 2'
                },
                {
                    id:3,
                    title:'Do 3'
                }
            ],
            nextTodoId:4
        },
        methods:{
            addNewTodo:function(){
                this.todos.push({
                    id:this.nextTodoId++,
                    title:this.newTodoText
                })
                this.newTodoText = ''
            }
        }
    });

</script>
</body>
</html>