body,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,form,span,em.i,div,table,td,tr,input,fieldset,textarea{margin:0;padding:0;}
ul,li,ol,dl,dt,dd,a{ list-style: none;}
a{ text-decoration: none;}
a:hover{ text-decoration: none; outline: none;}
img{ border:none;}
select, input, img { vertical-align: middle; outline: none; border:none; }
body{ font-size: 0.875em; line-height: 1.5em; font-family: 'Microsoft Yahei';}

@font-face {
    font-family: 'microsoft yahei';
    src: url();
}

.wraper{ width: 48%; margin:0 auto;}
.nav{ width: 97.916%; margin:2.083% 1.042%; height: 40px; display: table;}
.nav ul{ display: table-row;}
.nav ul li{ display: table-cell;margin-left:1.042%; padding:0 2.083%;  background:#ccc;}
.nav ul li:first-child{ margin-left:0;}
.nav ul li:last-child{ margin-left:0;}
.nav ul li:nth-child(3n-2) a{ color:#ff0000;}
.nav ul li:nth-child(2) a{color:#0000ff;}
.nav ul li a{ display:block; float:left; line-height: 40px; color:#fff;}





.flex_wrap{
    height:100%;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}
.flex_bd{
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex:1;
    background:#E7E7E7;
    overflow-y:auto;
}
.flex_hd{
    background:#16364C;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#FFF;
    font-weight:700;
    font-family:14px;
}
.flex_ft{
    background:green;
    height:30px;
    line-height:30px;
    text-align:right;
}


img[alt^="aa"]{ border: solid 5px #ff0000;}
img[class*="aa"]{border: solid 10px #00ff00;}

.p::first-line{color: #ff00ff;}